h3 {
     font-size:18px;
     color:red;
}
h4 {
     font-size:18px;
     color:green;
     padding: 10px;
}
h5 {
     font-size:18px;
     color:lightgreen;
     padding: 10px;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}



header {
     background-image: url("images/c2.jpg");
     background-size: 100% 100%;
     padding:30px;
    
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 25px;
}

.menu li {
  
  margin-left: 0px;
  margin-bottom: 3px;
  background-color:#3e9e41;
  border:1px solid green;
  border-radius: 15px;
}

.menu li:hover {
  background-color: #3e8e22;
  border-radius: 15px;
}

.aside ul {
  list-style-type: none;
  background-color: lightgreen;
  padding: 15px;
  text-align: center;
  margin: 0;
  border-radius: 25px;
}
.aside li {
  margin-bottom: 5px;
  background-color:green;
  border:2px solid green;
  border-radius: 15px;
}

.aside li:hover {
  background-color: #3e8e41;
  border-radius: 15px;
}


footer {
     background-image: url("images/b2.jpg");
     background-size: 100% cover;
     background-position: center;
     padding:10px;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 860px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}



.container {
   maxwidth:1200px;
   margin: 0 auto;
}
.footer__wrapper{
   height:100px;
   display:flex;
   align-items:center;
   justify-content:space-between;
}
.footer__block{
   width:15%;
}
.footer__logo {
    display: inline-block;
}
.nav{
   display: flex;


}
.nav__link{
   margin-right: 15px;
   color: green;
   text-transform: uppercase;
   text-decoration: none;
   font-weight: 600;
   position:relative;
}
.nav__link:after{
   width:100%;
   height: 2px;
   background-color:green;
   position:absolute;
   top:100%;
   left: 0;
   content:"";
   opacity: 0;
   transition:opacity 0.2s;
}


.nav__link:last-child{
     margin-right: 0px;
}

.nav__link.active:after{
   opacity: 1;
}
.nav__link:hover:after{
   opacity: 0.5;
}

.footer__lng{
   display: flex;
   justify-content: flex-end;
}
.footer__lng-link{
    color:#b7b7b7;
    margin-right:8px;
    text-transform:uppercase;
    text-decoration: none;

}
.footer__lng-link:last-child{
    margin-right:0px;
}
.footer__lng-link.active{
    color:white;
}





.button {
  background-color:green;
  border:1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #3e8e41;
}
a:link {
  text-decoration: none;


